
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #c0392b;;
        }
        .container {
            width: 90%;
            max-width: 400px;
            padding: 2em;
            text-align: center;
            border: 3px solid #c0392b;
            border-radius: 5rem;
            background-color: #fff;
        }
        h2 {
            margin-bottom: 1em;
            color: #000000
        }
        .btn {
            padding: 0.8em 1.2em;
            margin: 0.5em 0;
            border: none;
            border-radius: 5rem;
            cursor: pointer;
            width: 100%;
            font-size: 1em;
            transition: background-color 0.3s, transform 0.2s;
        }
        .btn-service {
            background-color: #c0392b;;
            color: white;
        }
        .btn-service:hover {
            background-color: #bddbe9;
            transform: translateY(-2px);
        }   
        .btn-client {
            background-color: #c0392b;;
            color: white;
        }
        .btn-client:hover {
            background-color: #bddbe9;
            transform: translateY(-2px);
        }

        .btn-back {
            background-color: #3d4143;
            color: white;
        }
        .btn-back:hover {
            background-color: #93c4c5;
            transform: translateY(-2px);
        }
        @media (max-width: 480px) {
            .container {
                padding: 1.5em;
            }
            h2 {
                font-size: 1.2em;
            }
            .btn {
                font-size: 0.9em;
                padding: 0.7em 1em;
            }
        }